<h1>Новости</h1>

<div class="nav">
  <% if can? :manage, Event %>
    <%= link_to 'Новое событие', new_event_path %>
  <% end %>
</div>

<% @events.each do |event| %>
  <% if event.type == "Game" %>
    <% if can? :read, event %>
      <%= render "games/game", event:  event %>
    <% end %>
  <% end %>
<% end %>