<h1>Новости</h1>

<div>
  <%= link_to 'Новое событие', new_event_path %>
</div>

<% @events.each do |event| %>
  <% if can? :read, event %>
    <% if event.game %>
      <%= render "games/game", locals: { event:  event } %>
    <% end %>
  <% end %>
<% end %>