/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

div.header {
    text-align: center;
}

div.round {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #EEEEEE;
    border-color: #000000;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    -webkit-box-shadow: 4px 4px 5px #282b1f;
    -moz-box-shadow: 4px 4px 5px #282b1f;
    box-shadow: 4px 4px 5px #282b1f;
}


div.content {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #EEEEEE;
    border-color: #000000;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    padding: 10px;
}


div.nav {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #CCCCCC;
    border-color: #000000;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    -webkit-box-shadow: 4px 4px 5px #282b1f;
    -moz-box-shadow: 4px 4px 5px #282b1f;
    box-shadow: 4px 4px 5px #282b1f;
    padding: 3px;
}

div.datetime_select select {
    width: 80px;
}