/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

div.header {
    text-align: center;
}

div.round {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #EEEEEE;
    border-color: #000000;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    -webkit-box-shadow: 4px 4px 5px #282b1f;
    -moz-box-shadow: 4px 4px 5px #282b1f;
    box-shadow: 4px 4px 5px #282b1f;
}


div.content {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #EEEEEE;
    border-color: #000000;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    padding: 10px;
    margin: 5px;
}

div.content span.content{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #BBBBBB;
    border-color: #000000;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    padding: 1px;
    margin: 1px;
}


div.nav {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #CCCCCC;
    border-color: #000000;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    -webkit-box-shadow: 4px 4px 5px #282b1f;
    -moz-box-shadow: 4px 4px 5px #282b1f;
    box-shadow: 4px 4px 5px #282b1f;
    padding: 3px;
}

.nav_button {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #BBBBBB;
    border-color: #000000;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    -webkit-box-shadow: 2px 2px 3px #282b1f;
    -moz-box-shadow: 2px 2px 3px #282b1f;
    box-shadow: 2px 2px 3px #282b1f;
    padding: 2px;
    font-weight: bold;
    margin-top: 5px;
}

.action_button {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #AAAAAA;
    border-color: #000000;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    -webkit-box-shadow: 2px 2px 3px #282b1f;
    -moz-box-shadow: 2px 2px 3px #282b1f;
    box-shadow: 2px 2px 3px #282b1f;
    padding: 2px;
    font-weight: bold;
    margin-top: 5px;
}


div.datetime_select select {
    width: 80px;
}

textarea {
    width: 500px;
    height: 200px;
}

span.caption, label.caption {
    font-weight: bold;
}