<div id="navigate" class="nav">
  <ul>
    <li><a href="<%= events_path %>">Новости</a></li>
    <li><a href="#">О нас</a></li>
    <li><a href="http://fadzone.kiev.ua/forum">ФОРУМ</a></li>
  </ul>
</div>